/* PROJETOS */
.projetos h1 {
    color: #fff;
}

.projetos .texto {
    background-color: var(--cor-vermelho-claro);
    height: 100px;
}

@media(max-width: 1280px) { 
    .projetos .container-projetos {
        padding: 0 var(--mobile-padding);
    }
}

