/* SOBRE MIM */
.sobre-mim {
    border-bottom: 1px solid var(--cor-primaria);
}

.sobre-mim .tabela-sobre-mim {    
    max-width: 40%;
    padding: 0 15px;
    
}

.sobre-mim .tabela-sobre-mim .tabela-box {
    padding: 15px;
    border-radius: 5px;
    text-align: left;
}


.sobre-mim .tabela-sobre-mim .tabela-box li{
    border-bottom: 1px solid var(--cor-primaria);
    padding: 20px 10px 0 10px;
}

.sobre-mim .tabela-sobre-mim .tabela-box li span{
    font-weight: bold;
}

.sobre-mim .informacoes-sobre-mim {    
    max-width: 60%;
    padding: 0 25px;   
    align-self: center; 
}

.sobre-mim .informacoes-sobre-mim .botoes {
    margin-top: 50px;
}

.sobre-mim .informacoes-sobre-mim p {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
}

@media(max-width: 1280px) { 
    .sobre-mim .row{
        justify-content: center;
    }

    .sobre-mim .tabela-sobre-mim {        
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        margin-bottom: 50px;
    }

    .sobre-mim .informacoes-sobre-mim {  
        padding: 0 var(--mobile-padding);
        text-align: center;
    }
}

@media(max-width:768px){
    .sobre-mim .informacoes-sobre-mim {  
        max-width: 100%;              
    }
}
